body
{
    font-family: sans-serif;
    background-color: #070707;
}

#navBar
{
    background: #121212;
    height: 52px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    top: 10;
    left: 0;
    border-radius: 25px;
    position: fixed;
}

.navBarElementA
{
    color: #BB86FC;
    text-decoration: none;
    display: block;
    transition-property:all;
    transition-duration: 200ms;
}
.navBarElementA:hover
{
    color: #3700B3;
    text-decoration: none;
    display: block;
}
.navBarElement
{
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

.ulNavBar
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
}

#primoUl
{
    padding-top: 15px;
}