body
{
    font-family: sans-serif;
    background-color: #070707;
}

#navBar
{
    background: #121212;
    height: 52px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    top: 10;
    left: 0;
    border-radius: 25px;
    position: fixed;
    
}

.navBarElementA
{
    color: #BB86FC;
    text-decoration: none;
    display: block;
    transition-property:all;
    transition-duration: 200ms;
}
.navBarElementA:hover
{
    color: #3700B3;
    text-decoration: none;
    display: block;
}


.navBarElement
{
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

.ulNavBar
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
}

#primoUl
{
    padding-top: 15px;
}

#divMain
{
    background: #121212;
    width: 95%;
    /*height: 100%;*/
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 25px;
    margin-top: 80px;
}

#contenutoDivMain
{
    color: lightgray;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

}

#h1DivMain
{
    color: lightgray;
    text-align: center;
}

#contenutoDivMain tr
{
text-align: center;
}

#contenutoDivMain td
{
text-align: center;
border: 1px solid #C5B798;
border-radius: 25px;
}

#contenutoDivMain th
{
text-align: center;
}

#news1
{
    background-color: #090909;
    padding-left: 20px;
    padding-right: 20px;
}

#news2
{
    background-color: #161616;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
